body {
	background: #1e272e;
}

/*These items are for the profile List item*/

li.profile-list-item {
    margin: 20px 50px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    height: 250px;
    overflow:hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.profile-list-item * {
    position:relative;
    z-index:1;
}

.profile-information-container {
    font-family: 'Roboto', sans-serif;
}

.profile-information-container h1 {
	font-size: 30px;
}

.profile-information-container p {
    font-weight: 300;
    font-size: 18px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-background-img {
	z-index:0;
    height:290px;
    margin:-10px;
    position: absolute;
    width:100%;
    object-fit: cover;
    -webkit-filter: blur(5px);
  	filter: blur(5px);

}

.profile-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}




/*This is for the navbar*/

img.nav-bar-logo {
    width: 50px;
    height: 50px;
}